.afisha {
  display: flex;
  gap: 10px;
}

.movieImg {
  height: 350px;
}

.menu {
  display: flex;
  width: 100%;
  padding: 20px;
  gap: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  display: inline-block;
  padding: 4px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-size: 32px;
}

.link:global(.active) {
  border: 1px solid orange;
  background-color: orange;
  color: white;
  pointer-events: none;
}